@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}
a{
    text-decoration: none;
}
body{
    background: #1b1b1b;
    color: aliceblue;
    overflow-x: hidden;
}
.section{
    /* margin: 1rem; */
    width: 100vw;
    max-width: 100%;
}
.section h1,h3{
        font-family: 'Roboto';
        text-align: center;
        
    }
    .navbar-brand span{
        padding-top: 1rem;
    }

#sec-1{
    width: 100vw;
    max-width: 100%;
}
.sec-1{
    display: grid;
}
.mb-3{
    width: 90vw;
    margin: 0 !important;
    max-width: 35rem;
} 
.container-1{
    margin: 3rem 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.input-group input::placeholder {
    color: rgb(121, 118, 118);
}

.sec-frame iframe{
    width: 80vw;
    height: 50vw;
}
#msg{
    text-align: center;
}
.red{
    color: #ef233c;
    text-decoration: underline 4px #ef233c;
}
.green{
    color: #c5ccc6;
    text-decoration: underline 4px #80ed99;
}
.loading{
    display: flex;
    justify-content: center;
    animation: skeleton 5s ease-in infinite;
}
@keyframes skeleton {
    0% {
      background-color: #5a5a5a;
    }
    25% {
      background-color: #4a4a4a;
    }
    50% {
      background-color: #3a3a3a;
    }
    75% {
      background-color: #2a2a2a;
    }
    100% {
      background-color: #5a5a5a;
    }
  }
  .none{
      display: none;
  }
  .btn-ctner{
      width: 90vw;
      display: flex;
      justify-content: right;
      transform: translateY(40px);
  }
  @media screen and (max-width: 664px) {
    .sec-frame iframe{
        width: 80vw;
        height: 80vh;
    }
    }