/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
  background: #1b1b1b;
  color: aliceblue;
  overflow-x: hidden;
}
a{
    text-decoration: none;
}
.section{
    width: 100vw;
    max-width: 100%;
}
#sec1{
  max-height: 100vh;
}

.section h1,h3,h4,h5{
        font-family: 'Roboto';
        text-align: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .navbar-brand span{
        padding-top: 1rem;
    }

#sec-1{
    width: 100vw;
    max-width: 100%;
}
.sec-1{
    display: -ms-grid;
    display: grid;
}
.mb-3{
    width: 90vw;
    margin: 0 !important;
    max-width: 35rem;
} 
.container-1{
    margin: .5rem 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.input-group input::-webkit-input-placeholder {
    color: rgb(121, 118, 118);
}
.input-group input::-moz-placeholder {
    color: rgb(121, 118, 118);
}
.input-group input:-ms-input-placeholder {
    color: rgb(121, 118, 118);
}
.input-group input::-ms-input-placeholder {
    color: rgb(121, 118, 118);
}
.input-group input::placeholder {
    color: rgb(121, 118, 118);
}
.sec-frame{
  height: 70vh;
}
.sec-frame iframe{
    width: 70vw;
    height: 50vw;
}
#msg{
    text-align: center;
}
.red{
    color: #d90429;
    -webkit-text-decoration: underline 4px #d90429;
            text-decoration: underline 4px #d90429;
}
.green{
    color: #c5ccc6;
    -webkit-text-decoration: underline 4px #b2dbbc;
            text-decoration: underline 4px #b2dbbc;
}
.loading{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation: skeleton 5s ease-in infinite;
            animation: skeleton 5s ease-in infinite;
}
@-webkit-keyframes skeleton {
    0% {
      background-color: #5a5a5a;
    }
    25% {
      background-color: #4a4a4a;
    }
    50% {
      background-color: #3a3a3a;
    }
    75% {
      background-color: #2a2a2a;
    }
    100% {
      background-color: #5a5a5a;
    }
  }
@keyframes skeleton {
    0% {
      background-color: #5a5a5a;
    }
    25% {
      background-color: #4a4a4a;
    }
    50% {
      background-color: #3a3a3a;
    }
    75% {
      background-color: #2a2a2a;
    }
    100% {
      background-color: #5a5a5a;
    }
  }
@-webkit-keyframes redBang {
    0% {
      color: #d90429;


    }
    25% {
      color: #ba181b;
    }
    50% {
      color: #c1121f;
    }
    75% {
      color: #bf0603;
    }
    100% {
      color: #c81d25;
    }
  }
@keyframes redBang {
    0% {
      color: #d90429;


    }
    25% {
      color: #ba181b;
    }
    50% {
      color: #c1121f;
    }
    75% {
      color: #bf0603;
    }
    100% {
      color: #c81d25;
    }
  }
  .none{
      display: none !important;
  }
  .btn-ctner{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: right;
          -ms-flex-pack: right;
              justify-content: right;
  }
  @media screen and (max-width: 664px) {
    .sec-frame iframe{
        width: 70vw;
        height: 80vh;
    }
    }
.info{
    padding: 1.3rem;
}
.info h3{
    text-align: left;
} 
#resultsDiv h4{ 
  text-align: left !important;
 
}
#resultsDiv{
  padding: 1rem ;
}
 
.testScroll{
  color: whitesmoke;
}
h5,h3{
  text-align: left;
}
.btn-shr{
  display: flex;
  width: 97vw;
  justify-content: right;
}
.container-100{
  min-height: 100vh;
}