@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}
body{
    background: #1b1b1b;
    color: aliceblue;
}
.section{
    /* margin: 1rem; */
    width: 100vw;
    max-width: 100%;
}
.section h1,h3{
        font-family: 'Roboto';
        text-align: center;
        
    }
    .navbar-brand span{
        padding-top: 1rem;
    }

#sec-1{
    width: 100vw;
    max-width: 100%;
}
.sec-1{
    display: grid;
}
.mb-3{
    width: 90vw;
    margin: 0 !important;
    max-width: 35rem;
} 
.container-1{
    margin: 3rem 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.input-group input::placeholder {
    color: rgb(121, 118, 118);
}

.sec-frame iframe{
    width: 80vw;
    height: 50vw;
}