footer{
  padding: 2rem 0;
  width: 100vw;
}
.fHeading {
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin: 1rem 0;
}

footer .fIcons {
  margin: .5em 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

footer .fLinks {
  margin: .5em 0;
  display: flex;
  width: 100vw;
  justify-content: center!important;
  gap: 1.5rem;
}

footer .fLinks a {
  color: whitesmoke;
  text-decoration: underline 2px white;
}

footer .fLinks a:hover {
  color: lightgray;
}

#copyright {
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
}
